body{font-size:1em;font-family:Verdana, Tahoma, Arial, Helvetica, sans-serif;background-color:#99CCFF;padding:0px;margin:0px;overflow:scroll;}
div.main{text-align:center;border:solid #777 1px;-khtml-border-radius:1.2em;-moz-border-radius:1.2em;-webkit-border-radius:1.2em;-webkit-box-shadow:2px 2px 6px #99ccff;-moz-box-shadow:2px 2px 6px #99ccff;-khtml-box-shadow:2px 2px 6px #99ccff;box-shadow:2px 2px 6px #99ccff;border-radius:1.2em;padding-bottom:20px;margin:4% 10% 1% 10%;background-color:white;behavior:url(/PIE.htc);min-width:450px;min-height:400px;}
div.main-inside{background-color:white;padding:0 4% 1% 4%;text-align:justify;min-width:250px;max-width:90%;}
div.footer{text-align:center;font-family:Helvetica,sans-serif,Verdana,Tahoma,Arial;font-size:0.9em;color:white;padding-bottom:-20px;}
div.footer a{color:inherit;}
p.header{text-align:center;font-family:Helvetica,sans-serif,Verdana,Tahoma,Arial;font-size:0.9em;}
figure{text-align:center;display:table;max-width:30%;margin:10px auto;}
figcaption{text-align:center;font-size:0.8em;font-style:italic;}
.centeredcontent{text-align:center}
table{margin-left:auto;margin-right:auto;text-align:left;font-size:0.9em;}
p.smallquotes{font-size:0.9em;font-style : italic;}
td{padding:0px 6px 0px 6px;}
img{border:solid #777 1px;-khtml-border-radius:1.2em;-moz-border-radius:1.2em;-webkit-border-radius:1.2em;border-radius:1.2em;height:auto;}
.lazyload{border:solid #777 1px;-khtml-border-radius:1.2em;-moz-border-radius:1.2em;-webkit-border-radius:1.2em;border-radius:1.2em;opacity:0;-moz-transition:opacity 2s;-webkit-transition:opacity 2s;-o-transition:opacity 2s;transition:opacity 2s;}
h1{border:solid #eee 0px;-khtml-border-radius:1.2em;-moz-border-radius:1.2em;-webkit-border-radius:1.2em;border-radius:1.2em;margin:50px 10px 50px 10px;padding-left:10px;max-width:400px;text-align:left;}
a:link,a:visited{text-decoration:none;color:#0000FF;}
a:hover,a:active{text-decoration:underline;}
#btn_up{position:fixed;bottom:1px;right:1px;cursor:pointer;display:none;}
#btn_up img{border:0;}
div.matronche{margin-top:-10px;margin-left:20px;font-size:3px;width:50px;font-family:monospace;position:absolute;}
div.blah{margin-left:150px;}
aside{margin-top:0;float:left;}
td.header{font-weight:bold;}
div#col1 {float:left;width:350px;margin-top:-20px;}
div#col2 {float:right;width:350px;margin-top:-20px;}
.quotes {font-style : italic;}
nav{position:absolute;text-align:center;margin-top:-50px;margin-bottom:0px;background-color:white;text-align:justify;width:70%;}
#header{position:fixed:margin-top:150px;}
p{margin: 4px;padding: 4px;}
.hide_mobile {display: none !important;}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
body{overflow:visible;background-color:white;width:100%;}
nav { position:fixed; width:100%; }
div.main{text-align:center;border:none;margin:0;background-color:white;behavior:none;khtml-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-webkit-box-shadow:0 0 0 #ffffff;-moz-box-shadow:0 0 0 #ffffff;-khtml-box-shadow:0px 0px 0px #ffffff;box-shadow:0px 0px 0px #ffffff;border-radius:0;padding-bottom:20px;min-width:0;}
div.main-inside{border:none;background-color:white; padding:0 0 0 0; text-align:justify;max-width:100%;}
div#col1 {float:none;width:auto;margin-top:-20px;}
div#col2 {float:none;width:auto;margin-top:-20px;}
div.matronche{position:relative; margin-left: auto; margin-right: auto;}
aside{margin-top:0;float:none;}
div.blah{margin-left:0;}
div.footer{text-align:center;font-family:Helvetica,sans-serif,Verdana,Tahoma,Arial;font-size:0.9em;color:black;padding-bottom:-20px;}
div.footer a{color:#0000FF;}
}

